*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Paleta */
/* #6ec1e4 */
/* #fff */
/* #4B3F72 */
/* #FFD93D */

:root {
  --font-inter: "Inter", serif;
  --font-gloock: var(--font-inter);
}

body {
  box-sizing: border-box;
  background-color: #feecc7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 996;
}
main {
  /* background-color: #271d45; */
  background: linear-gradient(to bottom right, #e0e7ff, #f3e8ff, #fce7f3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  width: calc(100% - 250px);
  flex: 1;
}
