.nav {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  top: 0;
  left: 0;
}
.navLogo {
  margin-bottom: 16rem;
}
.navContent {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8.6rem;
}
